n8n/YouTube Automation.json
{
  "name": "YouTube Automation",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "225dfe30-16f2-4a99-9136-9c5308dcf59a",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "0bd0ad42-040d-48a4-9e62-f033e79b651b",
              "name": "message",
              "value": "Daily Shorts uploaded successfully",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        -64
      ],
      "id": "613ef7b8-74be-4696-8745-12debcc24c85",
      "name": "END"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 23
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        -144
      ],
      "id": "09e2c29a-d93c-4b5f-8d52-961e7b125e48",
      "name": "Short Everyday Trigger"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 23,
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -352,
        16
      ],
      "id": "c52403c7-cde4-40c8-9b6d-19dc134c092e",
      "name": "Video Every week Trigger"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Generate ONE unique YouTube Shorts topic.\\nConstraints:\\n- Under 60 seconds\\n- Educational or curiosity-driven\\n- No repetition of common topics\\n- Suitable for a general audience\\n- Output ONLY the topic text\\n- No numbering, no explanation\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        -144
      ],
      "id": "ce436b9b-0a4d-412f-9177-1b0b3dd4617a",
      "name": "Short Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "YOUR_GEMINI_API_KEY"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"contents\": [\n    {\n      \"parts\": [\n        {\n          \"text\": \"Generate ONE unique YouTube video topic.\\nConstraints:\\n- Suitable for a 60–90 second video\\n- Educational or curiosity-driven\\n- Clear storytelling potential\\n- Not suitable for YouTube Shorts\\n- Avoid generic or overused topics\\n- Suitable for a general audience\\n- Output ONLY the topic text\\n- No numbering, no explanation\"\n        }\n      ]\n    }\n  ]\n}\n",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -144,
        16
      ],
      "id": "2e6f82bc-04a1-4a12-838d-52a9cc334fe6",
      "name": "Video Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be943782-6745-4f9d-8561-111b00e0bda6",
              "name": "topic",
              "value": "={{$json.candidates[0].content.parts[0].text}}",
              "type": "string"
            },
            {
              "id": "8b7f6b61-aa4e-4863-a54b-2f4e352d8dad",
              "name": "format",
              "value": "short",
              "type": "string"
            },
            {
              "id": "00009030-b8cb-4458-b174-0555ac8f098d",
              "name": "upload",
              "value": "true",
              "type": "string"
            },
            {
              "id": "e0f72972-7eb3-4fd3-baef-334f5c1c3e9b",
              "name": "privacy",
              "value": "public",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        -144
      ],
      "id": "dacc9a9d-4a0d-4bac-894b-64cfdf42551a",
      "name": "Short Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be943782-6745-4f9d-8561-111b00e0bda6",
              "name": "topic",
              "value": "={{$json.candidates[0].content.parts[0].text}}",
              "type": "string"
            },
            {
              "id": "8b7f6b61-aa4e-4863-a54b-2f4e352d8dad",
              "name": "format",
              "value": "video",
              "type": "string"
            },
            {
              "id": "00009030-b8cb-4458-b174-0555ac8f098d",
              "name": "upload",
              "value": "true",
              "type": "string"
            },
            {
              "id": "e0f72972-7eb3-4fd3-baef-334f5c1c3e9b",
              "name": "privacy",
              "value": "public",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        16
      ],
      "id": "70d69ab9-e6dc-488e-835e-047ecd0d3e8e",
      "name": "Video Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:5000/run",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"topic\": \"={{$json.topic}}\",\n  \"format\": \"={{$json.format}}\",\n  \"upload\": \"={{$json.upload}}\",\n  \"privacy\": \"={{$json.privacy}}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -64
      ],
      "id": "a0ef5780-3536-43f0-97b0-0756f4bf6d04",
      "name": "Pipeline Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Short Everyday Trigger": {
      "main": [
        [
          {
            "node": "Short Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Every week Trigger": {
      "main": [
        [
          {
            "node": "Video Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Request": {
      "main": [
        [
          {
            "node": "Short Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Request": {
      "main": [
        [
          {
            "node": "Video Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short Fields": {
      "main": [
        [
          {
            "node": "Pipeline Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Fields": {
      "main": [
        [
          {
            "node": "Pipeline Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pipeline Request": {
      "main": [
        [
          {
            "node": "END",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "2537797e-761f-47b7-98ed-65a6a737c541",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "84e7afda3fe40b214543183e0ad74077f2ad0713e249eba6ab478798c5759cf1"
  },
  "id": "5MP0IPZRZh2AlarQ",
  "tags": []
}